.publicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25vh;
    background: #FFFFFF;
    border-radius: 15px;
    margin-top: 5%;

    .fotoMiniatura {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        margin-left: 5%;

        .bordaMiniatura {
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 6vh;
            height: 6vh;
            background: #0B3D59;
            border-radius: 50%;
            margin-bottom: 5%;
        }
    
        .imagemMiniatura {
            width: 5vh;
            height: 5vh;
            background: #FFFFFF;
            border-radius: 50%;
    
            img {
                max-width: 100%;
                border-radius: 50%;
                margin-top: 1%;
            }
            
        }

        .mais {
            margin-left: auto;
            margin-right: 5%;
            margin-top: -6%;
        }
    }

    .nomeMiniatura {
        display: flex;
        flex-direction: column;

        margin-top: -5%;
        margin-left: 1%;

        .informacoes {
            display: flex;
            flex-direction: row;
            
            margin-top: 1%;
            margin-left: -1%;
            gap: 3px;
        }
    }

    .textoPublicacao {
        margin-right: auto;
        margin-top: -3%;
        margin-left: 3%;
    }

    .metricas {
        display: flex;
        flex-direction: row;

        width: 100%;
        margin-left: 5%;
        margin-top: 2%;

        .likes {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        .comentarios {
            display: flex;
            flex-direction: row;

            margin-left: auto;
            margin-right: 5%;

            gap: 5px;
        }
    }

    .botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 95%;
        height: 5vh;
        border: 1px solid #F2F3F5;
        border-left: none;
        border-right: none;
        margin-top: 1%;
        gap: 3%;

    }
}